@import 'grid';

$bg: #FFFFFF;
$font-color: #B3B3B3;
$font-size: 15px;
$divider: #E6E6E6;
$grey-font: #707070;
$star: #FFAB66;
$hover: #2897C5;


body {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  font-color: $font-color;
  background-image: url("../../resources/graphics/background.png");
  background-repeat: repeat;
}

.container {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	width: 820px;
	height: 820px;
	background-color: $bg;
	border: solid 1px #CDCDCD;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	background-color: #1C688E;
}

.search {
	margin: 0 auto;
	width: 92.9%;
	height: 47.1%;
	background-color: $bg;
	border: none;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
}

input {
	&:focus {
  	outline: none;
	}
	padding-left: 10px;
}

.content {
	height: 90%;
}

.sidebar {
	height: inherit;
	font-size: $font-size - 2px;
	border-right: 1px solid $divider;
	padding-top: 10px;
	h4 {
		font-size: $font-size - 1px;
		font-weight: 600;
	}
	.cuisine, .rating, .payment {
		height: 166px;
		width: 93%;
		margin: 0 auto;
		padding-left: 14px;
		table {
			margin: 0 auto;
			width: 80%;
			tr:nth-child(1) {
				width: 80%;
			}
			tr:nth-child(2) {
				width: 20%;
			}
		}
		img {
			max-height: 100%;
		}
	}
	.rating, .payment {
		padding-top: 10px;
	}
	.cuisine {
		table {
			width: 90%;
			tr td {
				padding: 1px 10px 1px 10px;
			}
			tr:hover td {
				background: $hover;
				color: $bg;
				cursor: pointer;
			}
			tr td:first-child {
				padding-left: 15px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			tr td:nth-child(2n) {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
	.rating, {
		table {
			td {
				height: 15px;
			}
		}
	}
}

main {
	width: 74%;

	h4 {
		display: inline-block;
		width: 38%;
		margin-left: 45px;
		font-size: $font-size - 1px;
		font-weight: 600;
		span {
			font-size: $font-size - 3px;
			font-weight: 200;
		}
	}

	.divider {
		display: inline-block;
		width: 51%;
	  height: 40px; 
	  position:relative;
	  border-bottom: 1px solid $divider;
	}

	.search-results {
		margin-left: 46px;
		.result {
			width: inherit;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			margin-top: 30px;
			margin-bottom: 17px;
			width: 95%;
			height: 90px;
			img {
				max-height: 100%;
				border-radius: 4px;
			}
			.search-data {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: stretch;
				margin-left: 25px;
				h3 {
					margin: 0;
					padding-bottom: 5px;
				}
				.stars-rating {
					width: 200%;
					height: inherit;
					display: flex;
					flex-direction: row;
				  flex-wrap: wrap;
				  align-items: flex-start;
					h4 {
						margin: 0;
						height: inherit;
						width: 30px;
						color: $star;
					}
					.stars {
						height: 35px;
						width: 100px;
						display: flex;
						flex-direction: row;
						align-items: flex-start; 
						img {
							margin-right: 1px;
							max-width: 50%;
							max-height: 50%;
						}						
					}
					h5 {
						height: inherit;
						color: $grey-font;
						margin: 0;
					}
			}
			h5 {
				margin: 0;
				margin-top: -10px;
				color: $grey-font;
				font-weight: 400;
			}
		}
	}
	// .show-more {
	// 	button {
	// 		height: 37px;
	// 		margin: 0 auto;
	// 	}
	// }
 }
}
