/*  SECTIONS  */
/* line 2, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
/* line 9, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.2%; }

/* line 14, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
/* line 17, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 19, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.group:after {
  clear: both; }

/* line 20, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF FOUR  */
/* line 24, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.span_4_of_4 {
  width: 100%; }

/* line 27, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.span_3_of_4 {
  width: 74.6%; }

/* line 30, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.span_2_of_4 {
  width: 49.2%; }

/* line 33, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
.span_1_of_4 {
  width: 23.8%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 39, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
  .col {
    margin: 1% 0 1% 0%; }
  /* line 40, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/grid.scss */
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
    width: 100%; } }

/* line 12, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-color: #B3B3B3;
  background-image: url("../../resources/graphics/background.png");
  background-repeat: repeat; }

/* line 20, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
.container {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 820px;
  height: 820px;
  background-color: #FFFFFF;
  border: solid 1px #CDCDCD;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); }

/* line 31, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #1C688E; }

/* line 40, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
.search {
  margin: 0 auto;
  width: 92.9%;
  height: 47.1%;
  background-color: #FFFFFF;
  border: none;
  border: 1px solid #D7D7D7;
  border-radius: 3px; }

/* line 50, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
input {
  padding-left: 10px; }
  /* line 51, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  input:focus {
    outline: none; }

/* line 57, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
.content {
  height: 90%; }

/* line 61, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
.sidebar {
  height: inherit;
  font-size: 13px;
  border-right: 1px solid #E6E6E6;
  padding-top: 10px; }
  /* line 66, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  .sidebar h4 {
    font-size: 14px;
    font-weight: 600; }
  /* line 70, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  .sidebar .cuisine, .sidebar .rating, .sidebar .payment {
    height: 166px;
    width: 93%;
    margin: 0 auto;
    padding-left: 14px; }
    /* line 75, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine table, .sidebar .rating table, .sidebar .payment table {
      margin: 0 auto;
      width: 80%; }
      /* line 78, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
      .sidebar .cuisine table tr:nth-child(1), .sidebar .rating table tr:nth-child(1), .sidebar .payment table tr:nth-child(1) {
        width: 80%; }
      /* line 81, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
      .sidebar .cuisine table tr:nth-child(2), .sidebar .rating table tr:nth-child(2), .sidebar .payment table tr:nth-child(2) {
        width: 20%; }
    /* line 85, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine img, .sidebar .rating img, .sidebar .payment img {
      max-height: 100%; }
  /* line 89, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  .sidebar .rating, .sidebar .payment {
    padding-top: 10px; }
  /* line 93, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  .sidebar .cuisine table {
    width: 90%; }
    /* line 95, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine table tr td {
      padding: 1px 10px 1px 10px; }
    /* line 98, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine table tr:hover td {
      background: #2897C5;
      color: #FFFFFF;
      cursor: pointer; }
    /* line 103, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine table tr td:first-child {
      padding-left: 15px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    /* line 108, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    .sidebar .cuisine table tr td:nth-child(2n) {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  /* line 116, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  .sidebar .rating table td {
    height: 15px; }

/* line 123, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
main {
  width: 74%; }
  /* line 126, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  main h4 {
    display: inline-block;
    width: 38%;
    margin-left: 45px;
    font-size: 14px;
    font-weight: 600; }
    /* line 132, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    main h4 span {
      font-size: 12px;
      font-weight: 200; }
  /* line 138, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  main .divider {
    display: inline-block;
    width: 51%;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #E6E6E6; }
  /* line 146, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
  main .search-results {
    margin-left: 46px; }
    /* line 148, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
    main .search-results .result {
      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 17px;
      width: 95%;
      height: 90px; }
      /* line 158, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
      main .search-results .result img {
        max-height: 100%;
        border-radius: 4px; }
      /* line 162, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
      main .search-results .result .search-data {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        margin-left: 25px; }
        /* line 168, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
        main .search-results .result .search-data h3 {
          margin: 0;
          padding-bottom: 5px; }
        /* line 172, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
        main .search-results .result .search-data .stars-rating {
          width: 200%;
          height: inherit;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start; }
          /* line 179, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
          main .search-results .result .search-data .stars-rating h4 {
            margin: 0;
            height: inherit;
            width: 30px;
            color: #FFAB66; }
          /* line 185, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
          main .search-results .result .search-data .stars-rating .stars {
            height: 35px;
            width: 100px;
            display: flex;
            flex-direction: row;
            align-items: flex-start; }
            /* line 191, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
            main .search-results .result .search-data .stars-rating .stars img {
              margin-right: 1px;
              max-width: 50%;
              max-height: 50%; }
          /* line 197, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
          main .search-results .result .search-data .stars-rating h5 {
            height: inherit;
            color: #707070;
            margin: 0; }
        /* line 203, /Users/devon/Desktop/solutions-hiring-assignment/project-files/assets/scss/main.scss */
        main .search-results .result .search-data h5 {
          margin: 0;
          margin-top: -10px;
          color: #707070;
          font-weight: 400; }

/*# sourceMappingURL=../../scss */